ProjID.txt
yellow_tripdata_2021-01.csv.gz
ny_taxi_postgres_data/
output.parquet
data_pgadmin/
.vscode/
.terraform
terraform.*
data_pgadmin/
__*
mage_*
.terraform*
titanic*
requirements*
.venv